DB_NAME="figuis"
DB_USER="figuis"
DB_PASSWORD="figuis"
DB_HOST="localhost"
DB_PORT="5442"
EMAIL_HOST="your_smtp_host"
EMAIL_HOST_USER="your_email_user"
EMAIL_HOST_PASSWORD="your_email_password"
RUN_PROD_MODE="False"
RUN_DEV_MODE="True"

